
.ml-1{
    margin-left: 3px !important;
}
.mt-1{
    margin-top: 50px !important;
}

.did-floating-label-content { 
    position:relative; 
    margin-bottom:20px; 
  }
  .did-floating-label {
    color:#0d8327; 
    font-size:14px !important;
    font-weight:bold;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:10px;
    padding:0 5px;
    background:#fff;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .did-floating-input, .did-floating-select {
    font-size:13px;
    display:block;
    width:100%;
    height:36px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #0d8327;
    border-radius: 4px;
    box-sizing: border-box;
    &:focus{
      outline:none;
      ~ .did-floating-label{
        top:-8px;
        font-size:13px;
      }
    }
  }
  
  select.did-floating-select {
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  select.did-floating-select::-ms-expand {
    display: none;
  }
  
  .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    top:-8px;
    font-size:13px;
  }
  .did-floating-select:not([value=""]):valid ~ .did-floating-label {
    top:-8px;
    font-size:13px;
  }
  .did-floating-select[value=""]:focus ~ .did-floating-label {
    top:11px;
    font-size:13px;
  }
  .did-floating-select:not([multiple]):not([size]) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
      background-position: right 15px top 50%;
      background-repeat: no-repeat;
  }


  .file-input {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: #198754;
    border: 1px solid #dbe1e8;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .custom-file-label:hover {
    background-color: #198754;
    border: 1px solid #dbe1e8;
  }
  
  .custom-file-label:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
  }

  


  